<!-- Button trigger modal -->
<button type="button" class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editModal">
</button>
<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-style-header">
        <h5 class="modal-title" id="editModalLabel">Modifier client</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-style-body">
          <%= simple_form_for (client) do |f|%>
            <%= f.input :prenom%>
            <%= f.input :nom%>
            <%= f.input :adresse%>
            <%= f.input :cp%>
            <%= f.input :ville%>
            <%= f.input :pays%>
            <%= f.input :telephone_fixe%>
            <%= f.input :telephone_portable%>
            <%= f.input :email%>
      </div>
      <div class="modal-footer modal-style-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary',method: :patch%>
      </div>
      <% end %>
    </div>
  </div>
</div>
