<div class= "container-clients" data-search-clients-target = "list">
  <table class="table table-hover list-clients">
    <thead>
      <tr class= "titre">
        <th scope="col">Détails</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Code postal</th>
        <th scope="col">Ville</th>
        <th scope="col">pays</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Téléphone portable</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client|%>
        <tr>
          <td><%= link_to client_path(client) do%>
            <i class="fa-solid fa-pen-to-square"></i>
          <%end%></td>
          <td><%= client.prenom%></td>
          <td><%= client.nom%></td>
          <td><%= client.adresse%></td>
          <td><%= client.cp%></td>
          <td><%= client.ville%></td>
          <td><%= client.pays%></td>
          <td><%= client.telephone_fixe%></td>
          <td><%= client.telephone_portable%></td>
          <td><%= client.email%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>
