<div class= "container-clients-devis mx-4">
  <%= render "clients/newFacture"%>
  <table class="table table-hover list-clients">
    <thead>
      <tr class= "titre">
        <th scope="col">Editer</th>
        <th scope="col">Id</th>
        <th scope="col">Type</th>
        <th scope="col">Statut</th>
        <th scope="col">Création</th>
        <th scope="col">Modification</th>
        <th scope="col">Désignation</th>
        <th scope="col">Montant</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% documents = policy_scope(Document.all)%>
      <% documents.each do |document|%>
        <% if document.client.id == @client.id && document.types == "Facture"%>
          <tr>
            <td><%= link_to client_document_path(@client,document) do%>
              <i class="fa-solid fa-pen-to-square"></i>
            <%end%></td>
            <td><%= document.id%></td>
            <td><%= document.types%></td>
            <td><%= document.statut%></td>
            <td><%= document.created_at.strftime('%d-%b-%Y %H:%M')%></td>
            <td><%= document.updated_at.strftime('%d-%b-%Y %H:%M')%></td>
            <td><%= document.designation%></td>
            <td><%= document.montant%></td>
            <% if document.montant == 0 || policy(@document).destroy? %>
              <td><%= link_to client_document_path(@client,document), data: {turbo: true, turbo_method: :delete }  do %>
                <i class="fa-solid fa-trash"></i>
              <% end %></td>
            <% end %>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>
