<!-- Button trigger modal -->
  <i type="button" class="fa-solid fa-square-plus fa-xl modal-btn" data-bs-toggle="modal" data-bs-target="#newModal"></i> Nouveau
<!-- Modal -->
<div class="modal fade" id="newModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="newModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-style-header">
        <h5 class="modal-title" id="newModalLabel">Nouveau client</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%client = Client.new%>
          <%= simple_form_for client do |f|%>
      <div class="modal-body modal-style-body">
        <%= f.input :prenom%>
        <%= f.input :nom%>
        <%= f.input :adresse%>
        <%= f.input :cp%>
        <%= f.input :ville%>
        <%= f.input :pays%>
        <%= f.input :telephone_fixe%>
        <%= f.input :telephone_portable%>
        <%= f.input :email%>
      </div>
      <div class="modal-footer modal-style-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary' if policy(Client).new?%>
      </div>
      <% end %>
    </div>
  </div>
</div>
