<!-- Button trigger modal -->
  <i type="button" class="fa-solid fa-square-plus fa-xl modal-btn" data-bs-toggle="modal" data-bs-target="#newFactureModal"></i> Nouvelle
<!-- Modal -->
<div class="modal fade" id="newFactureModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="newFactureModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-style-header">
        <h5 class="modal-title" id="newFactureModalLabel">Nouvelle Facture</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% document = Document.new%>
      <%= simple_form_for [@client,document] do |f|%>
      <div class="modal-body modal-style-body">
        <%= f.input :types, collection: Document.types.keys, selected: ["Facture"]%>
        <%= f.input :client_id, as: :hidden, input_html: {value: @client.id},disabled: true%>
        <%= f.input :designation%>
        <%= f.input :commentaire, as: :text%>
      </div>
      <div class="modal-footer modal-style-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.button :submit, class: 'btn btn-primary' if policy(Document).new?%>
      </div>
      <% end %>
    </div>
  </div>
</div>
