<i type="button" class="fa-solid fa-pen-to-square " data-bs-toggle="modal" data-bs-target="#updateClientModal"></i>
<div class="modal fade" id="updateClientModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="updateClientModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header modal-style-header">
        <h5 class="modal-title" id="updateClientModalLabel">Modifier les informations client</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @client do |f|%>
      <div class="modal-body modal-style-body">
        <%= f.input :prenom%>
        <%= f.input :nom%>
        <%= f.input :adresse%>
        <%= f.input :cp%>
        <%= f.input :ville%>
        <%= f.input :pays%>
        <%= f.input :telephone_fixe%>
        <%= f.input :telephone_portable%>
        <%= f.input :email%>
      </div>
      <div class="modal-footer modal-style-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%puts(policy(Client).update?)%>
        <%= f.button :submit, class: 'btn btn-primary' if policy(Client).update?%>
      </div>
      <% end %>
    </div>
  </div>
</div>
