<div class="container clients-background">
  <h1 class="text-center">Informations du client</h1>
  <div class="row m-4">
    <div class="col-12 col-lg-8 show-client">
      <ul>
        <li>Prénom: <strong><%= @client.prenom%></strong></li>
        <li>Nom: <strong><%= @client.nom%></strong></li>
        <li>Adresse: <strong><%= @client.adresse%></strong></li>
        <li>Code postal: <strong><%= @client.cp%></strong></li>
        <li>Ville: <strong><%= @client.ville%></strong></li>
        <li>Pays: <strong><%= @client.pays%></strong></li>
        <li>Téléphone: <strong><%= @client.telephone_fixe%></strong></li>
        <li>Téléphone portable: <strong><%= @client.telephone_portable%></strong></li>
        <li>Email: <strong><%= @client.email%></strong></li>
      </ul>
    </div>
    <div class="col-12 col-lg-4">
      <%= render "clients/update"%>
      <%= button_to "Supprimer ce client", @client, class:"btn btn-danger btn-info-client", method: :delete if policy(@client).destroy? %>
    </div>
  </div>
</div>
