<div class="container clients-background">
  <h2 class="text-center">INFORMATIONS CLIENT</h2>
  <div class="row mx-4">
    <div class="col-12 col-lg-8 show-client">
      <ul>
        <li><strong><%= @client.prenom%></strong> <strong><%= @client.nom%></strong></li>
        <li><strong><%= @client.adresse%></strong></li>
        <li><strong><%= @client.cp%> <strong><%= @client.ville%></strong></strong> <strong><%= @client.pays%></strong></li>
        <li><strong><%= @client.telephone_fixe%></strong></li>
        <li><strong><%= @client.telephone_portable%></strong></li>
        <li><strong><%= @client.email%></strong></li>
      </ul>
      <%= render "clients/update"%>
    </div>
  </div>
  <h2 class="text-center">DEVIS</h2>
  <%= render "clients/listDevis"%>
  <h2 class="text-center">FACTURE</h2>
  <%= render "clients/listFacture"%>
</div>
