<!DOCTYPE html>
<html>
  <head>
    <title>RailsGestionEntrepreneur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <%= render "shared/flashes" %>
    <div class = "container-fluid d-flex p-0" style= "height: calc(100vh - 74px);">
      <%= render "shared/menu" %>
      <%= yield %>
    </div>
  </body>
</html>
